body {
    background: #ecf0f1;
    margin: 0;
}

html {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* header */
header{
    position: relative;
    background: #8A4FFF;
    display: flex;
    align-items: center;
    color: #EEEEEE;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 300px;
    z-index: 1;
    padding: 80px 80px;
    box-sizing: border-box;
}
header h1{
    margin: 0;
    font-weight: 700;
    font-size: 60px;
}

::selection {
    background: #8A4FFF;
    color: #EEEEEE;
}
header span{
    display: block;
    font-weight: 400;
    font-size: 0.4em;
    width:inherit;
    color: #AD84FF;
}
header a {
    color:#E9F1F7;
    font-weight: 700;
    position: relative;
    vertical-align: bottom;
    display: inline-block;
    overflow: hidden;
    padding: 0 5px;
    border: 4px solid #E9F1F7;
    text-decoration: none;
}
header a:before{
    content: "";
    top:0; left: 0; bottom: 0; right: 0;
    width: 100%;    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(90deg, #d64759 10%, #da7352 90%);
    background: linear-gradient(90deg, #d64759 10%, #da7352 90%);
    z-index: -2;
    transform: translateY(100%);
    opacity: 0;
}


header a:hover::before{
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition: transform .7s cubic-bezier(.165,.84,.44,1);
    transition: transform .7s cubic-bezier(.165,.84,.44,1);
}

header a:after{
    content: "";
    top:0; left: 0; bottom: 0; right: 0;
    width: 100%;  height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(to top, #d64759 10%, #da7352 90%);
    background: linear-gradient(to top, #d64759 10%, #da7352 90%);
    z-index: -1;
    -webkit-transition: transform .8s cubic-bezier(.165,.84,.44,1);
    transition: transform .8s cubic-bezier(.165,.84,.44,1);
    transform: translateY(-100%);
    opacity: 1;
}
header a:hover::after {
    -webkit-transition: none;
    transition: none;
    transform: translateY(0%);
    opacity: 0;
}

header div a {
    border-width: 1px;
    font-weight: 700;
    vertical-align: bottom;

}

h1 div {
    margin-top:10px;
    font-weight: 700;
    font-size: 0.3em;
}
/* sections */


section{
    width: 100%;
    position: relative;
    height: 300px;
    font-family: 'Raleway', sans-serif;
    padding: 15px 80px;
    z-index: 1;
    display: flex;
    align-items: center;
}

section h1{
    font-size:3em;
    font-weight: 100;
    line-height: 1.3;
    padding: 30px 30px 30px 0px;

}

section a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    vertical-align: bottom;
    margin: 0;
    color: inherit;
}

a:hover{
    cursor: pointer;
}

/* one */
.one{
    background: #E6E6E9;
    color:#373F47;
}
section.one a {
    color:inherit;
    font-weight: 400;
    padding:0 3px;
    border-bottom: thin solid #373F47;
}

section.one a:hover{
    background: #D4D4D6;
    border-bottom: thin solid #D4D4D6;
}

/* two */
section.two {
    background: #F05D5E;
    color: #272932;
}
section.two a {
    color:#272932;
    font-weight: 400;
    overflow: hidden;
    padding: 0 3px;
}

.two a:before{
    content: "";
    top:0; left: 0;
    position: absolute;
    width:100%; height: 100%;
    background: #F27879;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: translateY(95%);
}
.two a:hover::before {
    transform: translateY(5%);
    background: #F6A0A1;
}

/* three */
section.three {
    background: #223843;
    color: #D77A61;

}

.three a {
    color: #DBD3D8;
    overflow: hidden;
}

.three a:before{
    content: "";
    top:0; left: 0;
    position: absolute;
    width:100%; height: 100%;
    background: #16242B;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: scaleY(0.7) translateX(-100%);
}

.three a:hover::before {
    transform: scaleY(0.7)  translateX(0);
}

/* four */

section.four {
    background: #011627;
    color : #FDFFFC;
}

.four a {
    color: #FF0022;
}

.four a:before{
    content: "";
    top:0; left: 0;
    position: absolute;
    width:100%; height: 100%;
    background: #FFFFFF;
    z-index: -1;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.2s ease;
    transform: scale(0);
}

.four a:hover::before {
    opacity: 1;
    transform: scale(1) ;
}


/* five */

section.five {
    background: #623CEA;
    color : #E9F1F7;
}

.five a {
    color: #100C14;

}

.five a:before{
    content: "";
    top:0; left: 0;
    position: absolute;
    width:100%; height: 100%;
    background: #E9F1F7;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.25,0.25,0.325,1.39);
    transform: scale(0.5);


}
.five a:hover::before {
    opacity: 1;
    transform: scale(1);
}

/* six */

section.six {
    background: #FB3640;
    color : #E2E2E2;
}

.six a {
    color: #E2E2E2;
    overflow: hidden;
    border-bottom: 1px solid #E2E2E2;
    font-weight: 400;
}

.six a:before{
    content: "";
    top:0; left: 0;
    position: absolute;
    width:100%; height: 100%;
    background: #FDFDFE;
    z-index: -1;
    transition: all 0.3s ease;
    transform-origin: 50% 100%;
    transform: perspective(400px) rotate3d(1,0,0,90deg);
}
.six a:hover::before {
    transform-origin: 50% 100%;
    transform:  rotate3d(1,0,0,0deg);
    background: #FDFDFE;
}

.six a:hover{
    color: #0A2463;
}

/* seven */
section.seven {
    background: #141414;
    color : #EEF0F2;
}

.seven a {
    color: #EEC643;
    font-weight: 400;
    transition: all 0.2s ease;
    transform: scale(1);
}
.seven h1{
    padding: 30px;
}
.seven a:before{
    content: "";
    top:0; left: 0;
    position: absolute;
    background-color: transparent;
    border: 2px solid #3D2B3D;
    width:100%; height: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
    transform: scale(0.7);
}

.seven a:hover{
    transform: scale(0.8);
}
.seven a:hover::before{
    opacity: 1;
    transform: scale(1.2);
}

/* eight */

section.eight {
    background: #304D6D;
    color : #EEF0F2;
}

.eight a {
    color: #CFE3F5;
    font-weight: 400;
    padding: 0 2px;
}
.eight h1{
    padding: 30px;
}
.eight a:before{
    content: "";
    top:0; left: 0;
    position: absolute;
    background-color: #1F3246;
    width:100%; height: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
    transform: skew(-5deg, -5deg);
}

.eight a:hover::before{
    opacity: 1;
    transform: skew(0deg, 0deg);
}

/* nine */

section.nine {
    background: #FCFCFC;
    color: #5D576B;
}
section.nine a {
    color:#99E1D9;
    font-weight: 700;
    overflow: hidden;
    padding: 0 3px;
    transition all 0.2s ease;
}

.nine a:before{
    content: "";
    top:0; left: 0;
    position: absolute;
    width:100%; height: 100%;
    background: #F7567C;
    z-index: -1;
    transition: all 0.2s ease;
    transform: translateY(95%);
}
.nine a:hover::before {
    transform: translateY(-95%);
    background: #F7567C;
}
.nine a:hover{
    transform: translateY(5px);
}

/* ten */

section.ten {
    background: #023436;
    color: #EBF5EE;
}

section.ten a {
    color:#022628;
    font-weight: 700;
    padding: 0 3px;
    background: #FCFBF9;
    transition: all 0.2s ease;
    transform: translateX(0);
}

.ten a:after{
    content: "\0279C";
    color:#FCFBF9;
    top:0; left: 100%;
    position: absolute;
    width:50px; height: 100%;
    z-index: -2;
    font-size: 90%;
    text-align: center;
    transform: translateX(0px);
    background: #022628;
    pointer-events: auto;
    transition: all 0.2s ease;
}
.ten a:before {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background: #FCFBF9;
}

.ten a:hover::after{
    transform: translateX(0px);

}

.ten a:hover,
.ten a::after {
    transform: translateX(-50px);
}


/* eleven*/

section.eleven {
    background: #EDDEA4;
    color: #00A7E1;
}

section.eleven a {
    color:#00A7E1;
    font-weight: 700;
    padding: 0 3px;
    background: #D9E5D6;
    transition: all 0.2s ease;
    transform: translateX(0);
}

.eleven a:after{
    content: "\0279C";
    color:#FCFBF9;
    top:0; left: -50px;
    position: absolute;
    width:50px; height: 100%;
    z-index: -2;
    font-size: 90%;
    text-align: center;
    transform: translateX(0px);
    background: #FF9B42;
    pointer-events: auto;
    transition: all 0.2s ease;
}
.eleven a:before {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background: #FFF5ED;
}

.eleven a:hover::after{
    transform: translateX(0px);

}

.eleven a:hover,
.eleven a::after {
    transform: translateX(50px);
}


/* twelve */


section.twelve {
    background: #121A5A;
    color: #FFFAFF;
}
section.twelve a {
    color:#D8315B;
    font-weight: 700;
    overflow: hidden;
    padding: 0 5px;
    transition all 0.2s ease;
    border-bottom: 1px solid #FFFAFF;
}

.twelve a:before{
    content: "";
    top:0; left: 0;
    position: absolute;
    width:100%; height: 100%;
    background: #FFFAFF;
    z-index: -1;
    transition: all 0.2s ease;
    transform: translateX(100%);
}
.twelve a:hover::before {
    transform: translateX(-95%);
    background: #D8315B;
}
.twelve a:hover{
    color: #FFFAFF;
    transform: translateX(5px);
}


/* the13 */

section.the13 {
    background: #011627;
    color: #20A4F3;
}
section.the13 a {
    color:#20A4F3;
    font-weight: 400;
    padding: 0 3px;
    transition all 0.3s ease;
}

.the13 a:before{
    content: "[";
    top:0; left: 0;
    position: absolute;
    color: #FFFAFF;
    font-size:110%;
    font-weight: 100;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
    transform: translateX(-30px);
}

.the13 a:hover::before {
    opacity: 1;
    transform: translateX(-10px);
}

.the13 a:after{
    content: "]";
    top:0; left: 95%;
    position: absolute;
    color: #FFFAFF;
    font-size:110%;
    font-weight: 100;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
    transform: translateX(30px) ;
}

.the13 a:hover::after {
    opacity: 1;
    transform: translateX(5px);
}
.the13 a:hover{
    color: #FFFAFF;
}

/* the14 */

section.the14 {
    background: #CEB1BE;
    color: #2D2D34;
}
section.the14 a {
    color:#2D2D34;
    font-weight: 400;
    padding: 0 3px;
    overflow: hidden;
    transition all 0.2s ease;
    border-bottom: 2px solid #F2E6EA;

}

.the14 a:before{
    content: "";
    top:0; left: 0;
    width: 100%; height: 100%;
    position: absolute;
    background-color: #B97375;
    z-index: -1;
    transition: all 0.2s cubic-bezier(.25,.25,.7,1.99);
    transform: translateY(100%);
}

.the14 a:hover::before {
    opacity: 1;
    transform: translateY(70%);
}

/* the15 */


section.the15 {
    background: #4F6D7A;
    color: #FFFFFF;
}
section.the15 a {
    color:#FFFFFF;
    font-weight: 400;
    padding: 0 3px;
    overflow: hidden;
    transition: all 0.3s ease 0.5s;

    /* border-bottom: 2px solid #F2E6EA; */

}

.the15 a:before{
    content: "";
    top:0; left: 0;
    width: 100%; height: 100%;
    position: absolute;
    background-color: #59C9A5;
    opacity: 1;
    z-index: -2;
    transition: background-color 0.5s ease;
    transform: translateY(calc(100% - 2px));
}

.the15 a:after{
    content: "";
    top:0; left: 0;
    width: 0; height: 100%;
    position: absolute;
    background-color: #FFFFFF;
    z-index: -1;
    transition: none;
    transform: translateY(calc(100% - 2px));
}

.the15 a:hover::after {
    width: 100%;
    transition: all 0.5s ease;
}

.the15 a:hover::before{
    background-color: #FFFFFF;
    transition: background-color 1s ease;
}


/* the16 */



section.the16 {
    background: #312F2F;
    color: #F6E8EA;
}
section.the16 a {
    color:#F6E8EA;
    font-weight: 400;
    padding: 0 3px;
    overflow: hidden;
    transition: all 0.3s ease 0.5s;
}

.the16 a:before{
    content: "";
    top:0; left: 0;
    width: 100%;    height: 100%;
    position: absolute;
    background-color: #F42C04;
    z-index: -2;
    transition: background-color 0.5s ease;
    transform: translateY(calc(100% - 2px));
}

.the16 a:after{
    content: "";
    top:0; left: 0;
    width: 0; height: 100%;
    position: absolute;
    background-color: #F6E8EA;
    z-index: -1;
    margin: 0 50%;
    transition: none;
    transform: translateY(calc(100% - 2px));
}

.the16 a:hover::after {
    width: 100%;
    transition: all 0.5s ease;
    margin: 0;
}

.the16 a:hover::before{
    background-color: #F6E8EA;
    transition: background-color 1s ease;
}
/* the17 */



section.the17 {
    background: -webkit-linear-gradient(90deg, #01a99c 10%, #0698b1 90%);
    background: linear-gradient(90deg, #01a99c 10%, #0698b1 90%);
    color: #E9F1F7;
}
section.the17 a {
    color:#E9F1F7;
    font-weight: 700;
    overflow: hidden;
    padding: 0 5px;
    border: 2px solid #E9F1F7;

}

.the17 a:before{
    content: "";
    top:0; left: 0; bottom: 0; right: 0;
    width: 100%;    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(90deg, #d64759 10%, #da7352 90%);
    background: linear-gradient(90deg, #d64759 10%, #da7352 90%);
    z-index: -2;
    transform: translateY(100%);
    opacity: 0;
}


.the17 a:hover::before{
    transition: transform .7s cubic-bezier(.165,.84,.44,1);
    transform: translateY(0%);
    opacity: 1;
}

.the17 a:after{
    content: "";
    top:0; left: 0; bottom: 0; right: 0;
    width: 100%;  height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(to top, #d64759 10%, #da7352 90%);
    background: linear-gradient(to top, #d64759 10%, #da7352 90%);

    z-index: -2;
    transition: transform .8s cubic-bezier(.165,.84,.44,1);
    transform: translateY(-100%);
    opacity: 1;
}
.the17 a:hover::after {
    transition: none;
    transform: translateY(0%);
    opacity: 0;
}


/* the18 */



section.the18 {
    background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff);
    background: linear-gradient(to left, #83a4d4 , #b6fbff);
    color: #1B1A25;
}
section.the18 a {
    color:#1B1A25;
    font-weight: 700;
    overflow: hidden;
    padding: 0 5px;
    border: 2px solid #1B1A25;

}

.the18 a:before{
    content: "";
    top:0; left: 0; bottom: 0; right: 0;
    width: 100%;    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(to left, #d64759 10%, #da7352 90%);
    background: linear-gradient(to left, #d64759 10%, #da7352 90%);
    z-index: -2;
    transform: translateX(-100%);
    opacity: 0;
}


.the18 a:hover::before{
    transition: transform .7s cubic-bezier(.165,.84,.44,1);
    transform: translateX(0%);
    opacity: 1;
}

.the18 a:after{
    content: "";
    top:0; left: 0; bottom: 0; right: 0;
    width: 100%;  height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(to left, #d64759 10%, #da7352 90%);
    background: linear-gradient(to left, #d64759 10%, #da7352 90%);

    z-index: -2;
    transition: transform .8s cubic-bezier(.165,.84,.44,1);
    transform: translateX(100%);
    opacity: 1;
}
.the18 a:hover::after {
    transition: none;
    transform: translateX(0%);
    opacity: 0;
}


/* the19 */




section.the19 {
    background: #262E31
    color: #262E31;
}
section.the19 a {
    color:#262E31;
    font-weight: 700;
    padding: 0 5px;
    transition: color 0.33s ease;

}

.the19 a:before{
    content: "";
    top:0; left: 0; bottom: 0; right: 0;
    width: 100%;    height: 100%;
    position: absolute;
    background: #262E31;
    z-index: -1;
    opacity: 0;
    transition: all .5s cubic-bezier(1, 0.185, 0.5, 1.99);
    transform: translate(10px, -10px);

}


.the19 a:hover::before{
    opacity: 1;
    transform: translate(0px, 0px);

}
.the19 a:hover{
    color: #F9C700;
}

.the19 a:after{
    content: "";
    top:0; left: 0; bottom: 0; right: 0;
    width: 100%;  height: 100%;
    position: absolute;
    background: #F9C700;
    z-index: -2;
}


/* the20 */


section.the20 {
    background: #F2544C;
    color: #FFFEFE;
}
section.the20 a {
    color:#FFFEFE;
    font-weight: 700;
    padding: 0 3px;
    border-radius: 3px;
    background: #F2544C;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);

}




.the20 a:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
}

.the20 a:after{
    content: "\0279C";
    top:0; left: 0;
    bottom: 0; right: 0;
    width: 100%;  height: 100%;
    position: absolute;
    font-weight: 100;
    z-index: -1;
    transition: all 0.33s ease;
    transform: translateX(calc(100% - 40px));
}

.the20 a:hover::after{
    opacity: 1;
    transform: translateX(calc(100% - 10px));
}



/* updateStyle */


section.updateStyle {
    background: #FFFAFF;
    color: #121A5A;
}
section.updateStyle a {
    color:#121A5A;
    font-weight: 700;
    display: inline-block;
    overflow: hidden;

}

.updateStyle a:before{
    content: "";
    top:0; left: 0; bottom: 0; right: 0;
    width: 100%;    height: 100%;
    position: absolute;
    background: #D8315B;
    z-index: -1;
    transform: translateX(-100%) translateY(calc(100% - 2px));;
    opacity: 0;
}


.updateStyle a:hover::before{
    transition: transform .7s cubic-bezier(.19,1,.22,1);
    transform: translateX(0%) translateY(calc(100% - 2px));;
    opacity: 1;
}

.updateStyle a:after{
    content: "";
    top:0; left: 0; bottom: 0; right: 0;
    width: 100%;  height: 100%;
    position: absolute;
    background: #D8315B;
    z-index: -2;
    transition: transform .8s cubic-bezier(.19,1,.22,1);
    transform: translateX(100%) translateY(calc(100% - 2px));
    opacity: 1;
}
.updateStyle a:hover::after {
    transition: none;
    transform: translateX(0%) translateY(calc(100% - 2px));
    opacity: 0;
}

.updateStyle a:hover{
    color: #D8315B;
}


/* buttons */

section div {
    margin: 100px auto;
    outline: 0;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}


/* button 1 */

.the21 {
    background: #414F58;
}
section #button1 {
    position: relative;
    width: 130px;
    height: 50px;
    font-size: 0.9em;
    letter-spacing: 4px;
    color: #E6E8E9;
    display:flex;
    background: transparent;
    justify-content: center;
    align-items:  center;
    transition: width 0.33s ease;
}

#button1:hover {
    color: #414F58;
    cursor: pointer;
}

#button1:before{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height:100%;
    border: 1px solid #E6E8E9;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    z-index: -1;

    transition: all 0.33s ease;
}

#button1:hover::before{
    border-color: #B2FF59;
    background: #B2FF59;
}

#button1:active::before {
    background: #64DD17;
    border-color: #64DD17;
}

#button1 a {

    transition: all 0.33s ease;
}

#button1:hover a {
    transform: translateX(-15px);
}

#button1:active a  {
    transform: translateX(0px);
}

#button1:hover{
    width: 145px;
}
#button1:active{
    color: #414F58;
    width: 130px;
}

#button1:after {
    content: '>';
    position: absolute;
    width: 100%;
    height:100%;
    left: 0; top: 15px;
    font-weight: 100;
    color: #414F58;
    opacity: 0;

    transform: translateX(calc(100% - 40px));
    transition: all 0.5s ease;
}

#button1:hover::after{
    opacity: 1;
    transform: translateX(calc(100% - 30px));
}

#button1:active::after{
    opacity: 0;
    transform: translateX(calc(100% - 40px));
}

/* button 1 */

.the22 {
    background: #D0E1EF;
}
section #button2 {
    position: relative;
    width: 220px;
    height: 60px;
    font-size: 1.4em;

    color: #E6E8E9;
    font-weight:700;
    display:flex;
    background: #70AE99;
    justify-content: center;
    align-items:  center;
    overflow: hidden;
    transition: width 0.33s ease;
}

#button2:hover {
    cursor: pointer;
}

#button2:before{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height:100%;
    background:#16976F;
    z-index: 1;
    transform: translateX(-100%);
    transition: all 0.33s ease;
}

#button2:hover::before{
    transform: translateX(0%);
}

#button2:active::before {
    background: #4E598C;
}
#button2 a {
    z-index: 1;
}

#button2:after {
    content: '\027F6';
    position: absolute;
    width: 100%;
    height:100%;
    left: 0; top: 17px;
    font-weight: 100;
    color: #FFFFFF;
    opacity: 0;
    font-size: 1.1em;
    z-index: 2;
    transform: translateX(calc(100% - 110px));
    transition: all 0.15s ease;
}

#button2:hover::after{
    opacity: 1;
    transform: translateX(calc(100% - 70px));
}

#button2:active::after{
    opacity: 0;
    transform: translateX(calc(100% - 40px));
}

#button2:hover a {
    transform: translate(-25px);
}

#button2:active a {
    transform: translate(0px);
}

/* button 3 */

.the23 {
    background: #C2D3CD;
}
section #button3 {
    position: relative;
    width: 220px;
    height: 60px;
    font-size: 1.4em;
    color: #5B5B5D;
    font-weight:700;
    display:flex;
    justify-content: center;
    align-items:  center;
    box-shadow: inset 0 0 0 2px #5B5B5D;
    overflow: hidden;
}
#button3:hover {

    cursor: pointer;
}

#button3:before{
    content: '';

    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height:100%;
    background:#EE2B24;
    color: #FFFBFB;
    z-index: 1;
    border: 11px solid #EE2B24;
    display:flex;
    justify-content: center;
    align-items:  center;
    transform: translateX(-100%);
    transition: all 0.15s ease;
}

#button3:hover::before {
    transform: translateX(0%);
}

#button3:after{
    content: 'DRIVE \021AA';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height:100%;

    color: #FFFBFB;
    z-index: 2;
    display:flex;
    background: transparent;
    justify-content: center;
    align-items:  center;
    transform: translateX(-100%);
    transition: all 0.15s ease 0s;
}

#button3:hover::after {
    transition: all 0.15s ease 0.1s;
    transform: translateX(0%);
}

/* button4 */

.the24 {
    background: #FDFFFC;
}
section #button4 {
    position: relative;
    width: 220px;
    height: 60px;
    font-size: 1.4em;
    color: #5B5B5D;
    font-weight:700;
    display:flex;
    justify-content: center;
    align-items:  center;
    overflow: hidden;
}

#button4:hover {
    cursor: pointer;
}

#button4 a {
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#button4:hover a {
    transform : translateX(-15px);
}

#button4:before{
    content: '\0279C';
    position: absolute;
    left: 0;
    top: 17px;
    opacity:0;
    width: 100%;
    height:100%;
    color: #6A6758;
    z-index: -1;
    transform: translateX(calc(100% - 70px));
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#button4:hover::before {
    opacity:1;
    transform: translateX(calc(100% - 50px));
}

#button4:after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height:100%;
    background:#6A6758;
    z-index: -2;
    transform: translate(0, calc(100% - 5px));
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#button4:hover::after {
    background: #FFE709;
    transform: translate(50%, 0%);
}


.the25 {
    background: #FDFFFC;
}
section #button5 {
    position: relative;
    width: 250px;
    height: 70px;
    font-size: 1.2em;
    letter-spacing: 5px;
    color: #5B5B5D;
    font-weight:800;
    padding:4px;
}

#button5:hover {
    cursor: pointer;
}

#button5 a {
    display:flex;
    justify-content: center;
    align-items:  center;
    position: relative;
    width: 100%;
    height:100%;
    z-index: 2;
    background: #FDFFFC;
    overflow: hidden;
    padding: 3px;
    transition: all 0.5s ease;
}
#button5 a span {
    background: linear-gradient(to right, #CD96FE, #8082FE);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    text-shadow: 0 0 0 rgba(0,0,0,0.19), 0 0 0 rgba(0,0,0,0.23);
    transition: all .33s ease;
}

#button5:hover a span {
    color: #FDFFFC;
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

#button5:hover a{
    background: transparent;
}
#button5:before{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(to right, #CD96FE, #8082FE);
    z-index: 1;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#button5 a:before{
    content: '';
    position: absolute;
    left: 4px; top: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #FDFFFC;
    opacity:1;
    z-index: -1;
    transition: all .5s ease;
}
#button5:hover a:before{
    opacity:0;
}
#button5 a:after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(to right, #CD96FE, #5A36FD);
    z-index: -2;
    opacity:1;
}


/* button 6 */

section #button6 {
    position: relative;
    width: 250px;
    height: 70px;
    font-size: 1.2em;
    letter-spacing: 5px;
    color: #5B5B5D;
    font-weight:800;
    padding:4px;
}

#button6:hover {
    cursor: pointer;
}

#button6 a {
    display:flex;
    justify-content: center;
    align-items:  center;
    position: relative;
    width: 100%;
    height:100%;
    z-index: 2;
    background: #FDFFFC;
    overflow: hidden;
    padding: 3px;
    transition: all 0.5s ease;
}
#button6 a span {
    background: linear-gradient(to top right, #76ADFE, #F0818C);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 0 rgba(0,0,0,0.19), 0 0 0 rgba(0,0,0,0.23);
    transition: all .5s ease;
}

#button6:hover a span {
    color: #FDFFFC;
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#button6:hover a{
    background: transparent;
}
#button6:before{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(40deg, #76ADFE, #F0818C);
    z-index: 1;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#button6 a:before{
    content: '';
    position: absolute;
    left: 4px; top: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #FDFFFC;
    opacity:1;
    z-index: -1;
    transition: all .5s ease;
}
#button6:hover a:before{
    opacity:0;
}
#button6 a:after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(40deg, #76ADFE, #C12D58);
    z-index: -2;
    opacity:1;
}


/* button 7*/


section #button7 {
    position: relative;
    width: 250px;
    height: 70px;
    font-size: 1.2em;
    letter-spacing: 5px;
    color: #5B5B5D;
    font-weight:800;
    padding:6px;
}

#button7:hover {
    cursor: pointer;
}

#button7 a {
    display:flex;
    justify-content: center;
    align-items:  center;
    position: relative;
    width: 100%;
    height:100%;
    z-index: 2;
    background: #FDFFFC;
    overflow: hidden;
    transition: all 0.5s ease;
}
#button7 a span {
    background: linear-gradient(70deg, #F372BC , #8EF7F1 );
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 0 rgba(0,0,0,0.19), 0 0 0 rgba(0,0,0,0.23);
    transition: all .5s ease;
}

#button7:hover a span {
    color: #FDFFFC;
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#button7:hover a{
    background: transparent;
}
#button7:before{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(70deg, #F372BC, #8EF7F1 40%);
    z-index: 1;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#button7:hover a:before{
    opacity:0;
}



